<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Índice de API</title>
  </head>
  <body>
    <h1>Información de la API</h1>

    <!-- Texto que describe la API -->
    <p>
      Esta API es para gestionar y centralizar el acceso a servicios y datos de
      aplicaciones externas. Permite registrar nuevas aplicaciones consumidoras
      que pueden interactuar de manera segura con nuestros servicios centrales a
      través de claves de API.
    </p>

    <!-- Enlace para registrar un nuevo servicio -->
    <a href="{% url 'registrar-aplicacion' %}">Registrar un Nuevo Servicio</a>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
  </body>
</html>
